<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Base"
            android:usesCleartextTraffic="true"
            tools:targetApi="31">
        <activity
                android:name="com.example.res_cli_pro.ActualizarAdministrador"
                android:exported="false" />
        <activity
                android:name="com.example.res_cli_pro.EliminarAdministrador"
                android:exported="false" />
        <activity
                android:name="com.example.res_cli_pro.InsertarAdministrador"
                android:exported="false" />
        <activity
                android:name="com.example.res_cli_pro.EliminarCliente"
                android:exported="false" />
        <activity
                android:name="com.example.res_cli_pro.ActualizarCliente"
                android:exported="false" />
        <activity
                android:name="com.example.res_cli_pro.InsertarCliente"
                android:exported="false" />



        <activity
                android:name=".Registro"
                android:exported="false"/>
        <activity
                android:name=".crud_venta.InsertarVenta"
                android:exported="false"/>
        <activity
                android:name=".PantallaDeInsertarDatos"
                android:exported="false"/>
        <activity
                android:name=".OpcionesIngreso"
                android:exported="false"/>
        <activity
                android:name=".crud_categoria.ActualizarCategoria"
                android:exported="false"/>
        <activity
                android:name=".crud_categoria.MostrarCategoria"
                android:exported="false"/>
        <activity
                android:name=".crud_categoria.InsertarCategoria"
                android:exported="false"/>
        <activity
                android:name=".personal"
                android:exported="false"/>
        <activity
                android:name=".crud_producto.MostrarProducto"
                android:exported="false"/>
        <activity
                android:name=".crud_producto.ActualizarProducto"
                android:exported="false"/>
        <activity
                android:name=".crud_producto.InsertarProducto"
                android:exported="false"/>
        <activity
                android:name=".DetalleVenta"
                android:exported="false"/>
        <activity
                android:name=".Venta"
                android:exported="false"/>
        <activity
                android:name=".Categoria"
                android:exported="false"/>
        <activity
                android:name=".Proveedores"
                android:exported="false"/>
        <activity
                android:name=".Cliente"
                android:exported="false"/>
        <activity
                android:name=".Producto"
                android:exported="false"/>
        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="preloaded_fonts"
                android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>